@model OnMyPlate.Web.ViewModels.Places.PlaceViewModel
@{
    var posts = this.Model.Posts.ToList().OrderByDescending(x => x.Date);
}
<div class="comments_restaurant_view">
    <h2>Comments</h2>
    @if (posts.Count() != 0)
    {
        @foreach (var post in posts.Take(3))
        {
            <div class="comment">

                <div class="author">
                    <div class="rating_hold">
                        @post.Author.FirstName @post.Author.LastName
                        <div class="rating rating_white">
                            <div class="rating_mask" alt="rating mask" style="width:100px;"></div>
                        </div>
                    </div>
                    <span>@post.Author.City / @post.Date.ToString("dd MMM yyyy") / @post.Date.ToString("HH:mm")</span>
                    <div class="clear"></div>
                </div>
                <span class="comment_right">@post.SanitizedPostDescription</span>
                <div class="clear"></div>
            </div>
        }
        @foreach (var post in posts.Skip(3))
        {
            <div class="comment" style="display:none;">

                <div class="author">
                    <div class="rating_hold">
                        @post.Author.FirstName @post.Author.LastName
                        <div class="rating rating_white">
                            <div class="rating_mask" alt="rating mask" style="width:100px;"></div>
                        </div>
                    </div>
                    <span>@post.Author.City / @post.Date.ToString("dd MMM yyyy") / @post.Date.ToString("HH:mm")</span>
                    <div class="clear"></div>
                </div>
                <span class="comment_right">@post.SanitizedPostDescription</span>
                <div class="clear"></div>
            </div>
        }
        
        <a href="javascript:;" class="unhide_all_comments" onclick="showAllComments();" style="visibility: visible;">Show all comments</a>
    }
    else
    {
        <div class="comment"><span>No comments yet!</span></div>
    }
</div>
