@model OnMyPlate.Data.Models.Place

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-md-center">Details about</h1>

<div class="col-md-6 offset-md-3">
    <h4 class="text-md-center">@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Likes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Likes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dislikes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dislikes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
</div>
<div class="text-md-center">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-info">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
</div>
